@page
@model PrivacyModel
@{
    ViewData["Title"] = "Add_New-Dispute-Ticket...!";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to <b>Add_New-Dispute-Ticket </b></p>

<form>

    <table>
        <tr>
            <td>Alpha Code *</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Customer # *</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Saleman</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Division *</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Nature of Dispute *</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Dispute Code</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Decision Made By Store</td>
            <td><input type="text" col="25" row="5" /></td>
        <tr>
            <td>Status *</td>
            <td><input /></td>
        <tr>
            <td>Assigned To</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Assigned To</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>No of Invoices Disputed</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Dispute Contact Person</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Invoice # *</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Invoice Amount *</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Invoice Date *</td>
            <td><input /></td>
        </tr>

    </table>
</form>

<h1>The input element</h1>

<form >
    <label for="Alpha_Code">Alpha Code *:</label>
    <input type="text" id="Alpha_Code" name="Alpha_Code"><br><br>
    <label for="Customer">Customer # *:</label>
    <input type="text" id="Customer" name="Customer"><br><br>
    <input type="submit" value="Submit">
</form>

