@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form>
    <div class="text-center">
        <h4 class="display-4">H4 - Upload File Into Project Folder </h4>
        <hr />
        <h1 class="display-4">H1 - Upload File Into Project Folder </h1>
        <hr />
        <h4> H4 - Upload File Into Project Folder </h4>
        <hr />
        <h1 >H1 - Upload File Into Project Folder </h1>
        <hr />
    </div>
</form>
